* {
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
}

nav{
  height: 6%;
  background-color: rgb(70, 4, 86);
  color: white;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  display: flex;
  justify-content: end;
  background-image: url("https://images.unsplash.com/photo-1601597111158-2fceff292cdc?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-position: center;
  color: white;
}

header h1 {
  text-align: end;
  width: 50%;
  padding: 25px 25px;
  font-size: 2rem;
}

main {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}

main form {
display: flex;
flex-direction: column;
gap: 1rem;
background-color: rgb(70, 4, 86);
color: white;
border-radius: 12px;
padding: 1rem;
}

main form div {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;

}

input {
  border-radius: 12px;
  padding-left: 5px;
}



