.hero-section {
  background-image: url("../images/cinema.avif");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
 
main{margin-top: 1rem;}
#movies-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4px;
}
